<div class="relative" >
  <ng-content select="[popover-trigger]"></ng-content>

  <ng-template #portalTemplate>
    <div
      class="transform origin-top transition-all duration-200 ease-out z-[55]"
      [ngClass]="{
        'scale-100 opacity-100 visible pointer-events-auto': showPopover,
        'scale-90 opacity-0 invisible pointer-events-none': !showPopover
      }"
      [style.width]="popoverWidth"
    >
      <div class="bg-white border border-gray-200 shadow-md rounded-lg">
        <ng-content select="[popover-content]"></ng-content>
      </div>
    </div>
  </ng-template>
</div>
