<app-popover
  #popover="appPopover"
  [popoverRelativePosition]="popoverRelativePosition"
  [popoverWidth]="popoverWidth"
  [preventDefaultBehavior]="true"
>
  <div popover-trigger class="flex items-center gap-1">
    <input
      #input
      class="flex-1 min-w-0 placeholder:font-light placeholder:text-muted-foreground text-zinc-900 focus:outline-none focus:ring-0"
      [placeholder]="placeHolder"
      [value]="search"
      (input)="onInput($event)"
    />
    <ng-icon
      hlm
      [ngClass]="{
        'invisible': (!inputValue && !isOpen) || search.length === 0
      }"
      name="lucideCircleX"
      size="1.2rem"
      (mousedown)="$event.preventDefault(); $event.stopPropagation(); onClear()"
      class="cursor-pointer"
    />

  </div>
  <div popover-content>
    <ul class="py-2">
      @if (filteredList.length > 0) {
      <ng-container *ngFor="let item of filteredList">
        <li
          class="px-4 py-1 hover:bg-gray-100 cursor-pointer"
          (click)="onSelect(item)"
        >
          {{ item.value }}
        </li>
      </ng-container>
      } @else {
      <li class="px-4 py-1 text-muted-foreground italic">
        {{ noResultsText }}
      </li>
      }
      <ng-container *ngFor="let item of alwaysVisibleItems">
        <li
          class="px-4 py-1 hover:bg-gray-100 cursor-pointer font-bold text-blue-600"
          (click)="onSelect(item)"
        >
          {{ item.value }}
        </li>
      </ng-container>
    </ul>
  </div>
</app-popover>
