<div class="flex flex-col gap-8 w-full">
  <h1 class="scroll-m-20 text-center text-xl font-semibold text-gray-700">
    Select your travel dates
  </h1>
  <div class="flex flex-col gap-8">
    <div class="flex flex-row gap-4 justify-between">
      <section hlmCard class="h-fit mx-auto">
        <div hlmCardHeader class="flex flex-col gap-2">
          <h3 hlmCardTitle>Departure</h3>
        </div>
        <div hlmCardContent>
          <price-calendar
            [onMonthChangeCallback]="onDepartureMonthChange.bind(this)"
            [min]="departureMinDate"
            [max]="maxDate"
            [date]="departureDate"
            (dateChange)="onDepartureDateChange($event)"
            [isLoading]="departureLoading"
            [defaultFocusedDate]="departureFocusedDate"
          ></price-calendar>
        </div>
      </section>
      @if (returnFocusedDate !== undefined) {
      <section hlmCard class="h-fit">
        <div hlmCardHeader class="flex flex-col gap-2">
          <h3 hlmCardTitle>Return</h3>
        </div>
        <div hlmCardContent>
          <price-calendar
            [onMonthChangeCallback]="onReturnMonthChange.bind(this)"
            [min]="returnMinDate"
            [max]="maxDate"
            [date]="returnDate"
            (dateChange)="onReturnDateChange($event)"
            [isLoading]="returnLoading"
            [defaultFocusedDate]="returnFocusedDate"
          ></price-calendar>
        </div>
      </section>
      }
    </div>
    <div class="flex w-full justify-end">
      <button
        hlmBtn
        variant="default"
        [disabled]="!departureDate || (!returnDate && returnFocusedDate !== undefined)"
        (click)="onConfirm()"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
