<!-- <div class="flex flex-col gap-8 w-full">
  <h1 class="scroll-m-20 text-3xl font-bold tracking-tight lg:text-4xl">
    Choose your dates
  </h1>
  <div class="flex flex-row gap-4 ">
    <section
      hlmCard
      class=""
    >
      <div hlmCardHeader class="flex flex-col gap-2">
        <h3 hlmCardTitle>Departure date</h3>
      </div>
      <div hlmCardContent>
        <hlm-calendar></hlm-calendar>
      </div>
    </section>
    <section
      hlmCard
    >
      <div hlmCardHeader class="flex flex-col gap-2">
        <h3 hlmCardTitle>Arrival date date</h3>
      </div>
      <div hlmCardContent >
        <hlm-calendar></hlm-calendar>
      </div>
    </section>
  </div>
</div> -->


