<div class="flex flex-row justify-between w-full mx-72 my-4">
  <div class="flex flex-row items-center justify-center gap-2">
    <img src="assets/logo.png" alt="FlightGorilla Logo" class="h-10 w-10" />
    <h1 class="scroll-m-20 text-2xl font-semibold tracking-tight text-black">FlightGorilla</h1>
  </div>
  <div class="flex flex-row gap-2 items-center justify-center">
    @if (isLoggedIn) {
      <hlm-avatar variant="medium">
        <img src="assets/user-avatar.png" alt="User Avatar" hlmAvatarImage />
        <span class="bg-secondary text-secondary-foreground" hlmAvatarFallback>FG</span>
      </hlm-avatar>
    } @else {
      <button hlmBtn variant="outline" >Login</button>
      <button hlmBtn variant="default" >Sign Up</button>
    }
  </div>
</div>
