<!-- both of these live in row 1 / col 1 of the grid -->
<div
  class="row-start-1 col-start-1 transition-opacity duration-300 ease-in-out flex items-center"
  [ngClass]="{
    'opacity-100 pointer-events-auto': !isActive,
    'opacity-0 pointer-events-none': isActive
  }"
>
  <ng-content select="[inactive]"></ng-content>
</div>
<div
  class="row-start-1 col-start-1 transition-opacity duration-300 ease-in-out"
  [ngClass]="{
    'opacity-0 pointer-events-none': !isActive,
    'opacity-100 pointer-events-auto': isActive
  }"
>
  <ng-content select="[active]"></ng-content>
</div>
