<div class="flex h-full pt-8">
  <!-- LEFT HALF -->
  <div class="w-1/2 p-4 pt-0 flex flex-col space-y-4 sticky top-[150px] max-h-[calc(100vh-100px)] overflow-y-auto">

    <!-- FIRST CLASS ROW -->
    <div
      class="first-class-row group transform flex items-start justify-between p-4 rounded-xl transition-all duration-300 cursor-pointer"
      (click)="toggleSelection('first')"
      [ngClass]="{ 'selected': selectedClassInternal === 'first' }"
    >
      <div>
        <h3 class="text-lg font-bold text-black mb-1">First Class</h3>
        <p class="text-sm italic text-zinc-800 mb-2">Ultimate luxury in the skies</p>
        <ul
          class="list-disc list-inside text-black text-sm max-h-0 overflow-hidden transition-all duration-300 group-hover:max-h-32"
          [class.max-h-32]="selectedClassInternal === 'first'"
        >
          <li>Unlimited bags</li>
          <li>Lie-flat seats</li>
          <li>Gourmet dining</li>
          <li>Dedicated service</li>
        </ul>
      </div>
      <div class="text-xl font-bold text-black ml-4">
        $299
      </div>
    </div>
    
    <!-- BUSINESS ROW -->
    <div
      class="row group transform flex items-start justify-between p-4 rounded-xl border-2
      border-transparent transition-all duration-300 cursor-pointer bg-zinc-200"
      (click)="toggleSelection('business')"
      [ngClass]="{ 'selected': selectedClassInternal === 'business' }"
    >
      <div>
        <h3 class="text-lg font-bold text-black mb-1">Business</h3>
        <p class="text-sm italic text-zinc-800 mb-2">Elevate your travel experience</p>
        <ul
          class="list-disc list-inside text-zinc-700 text-sm max-h-0 overflow-hidden transition-all duration-300 group-hover:max-h-32"
          [class.max-h-32]="selectedClassInternal === 'business'"
        >
          <li>2 cabin bags</li>
          <li>Premium seating</li>
          <li>Lounge access</li>
          <li>Priority boarding</li>
        </ul>
      </div>
      <div class="text-xl font-bold text-black ml-4">
        $199
      </div>
    </div>

    <!-- ECONOMY ROW -->
    <div
      class="row group transform flex items-start justify-between p-4 rounded-xl border-2
      border-transparent transition-all duration-300 cursor-pointer bg-zinc-100"
      (click)="toggleSelection('economy')"
      [ngClass]="{ 'selected': selectedClassInternal === 'economy' }"
    >
      <div>
        <h3 class="text-lg font-bold text-black mb-1">Economy</h3>
        <p class="text-sm italic text-zinc-800 mb-2">Perfect for budget adventures</p>
        <ul
          class="list-disc list-inside text-zinc-700 text-sm max-h-0 overflow-hidden transition-all duration-300 group-hover:max-h-32"
          [class.max-h-32]="selectedClassInternal === 'economy'"
        >
          <li>1 small cabin bag</li>
          <li>Standard seating</li>
          <li>Online check-in</li>
          <li>Complimentary water</li>
        </ul>
      </div>
      <div class="text-xl font-bold text-black ml-4">
        $99
      </div>
    </div>

    <button hlmBtn variant='outline' class="bg-black text-white w-[250px] mx-auto mt-8"
            [routerLink]="['../extras']
">Continue</button>
  </div>

  <div
    class="w-1/2 p-6 pb-36 flex items-center justify-center bg-white text-zinc-500 border-1 border-[#e4e4e7] text-lg italic rounded-2xl"
  >
    <app-seats-grid
      [selectedClass]="selectedClassGrid"
      [selectedSeatCol]="selectedSeatCol"
      [selectedSeatRow]="selectedSeatRow"
      (selected)="seatSelected($event)"/>
  </div>
</div>
<hlm-toaster />
