<app-popover
  #popover="appPopover"
  [customValues]="{ additionalTop: 20, additionalLeft: -20 }"
>
  <!-- raw button – no extra span needed -->
  <input
    popover-trigger
    class="text-lg font-normal placeholder:font-light placeholder:text-muted-foreground text-zinc-900 focus:outline-none focus:ring-0"
    [placeholder]="placeHolder"
    (input)="onInput($event)"
  />
  <div
    popover-content
    class="bg-white border border-gray-200 shadow-md rounded-lg"
  >
  <ul class="py-2">
    <ng-container *ngIf="filteredFlights.length > 0; else noResults">
      <li
        *ngFor="let item of filteredFlights"
        class="px-4 py-1 hover:bg-gray-100 cursor-pointer"
      >
        {{ item }}
      </li>
    </ng-container>
    <ng-template #noResults>
      <li class="px-4 py-1 text-muted-foreground italic">No results found</li>
    </ng-template>
  </ul>
  </div>
</app-popover>
