<div class="flex flex-col gap-8">
  <h1 class="scroll-m-20 text-3xl font-bold tracking-tight lg:text-4xl">
    Select your destination
  </h1>
  <div class="flex flex-row flex-wrap gap-4">
    <country-card [handleCountrySelection]="handleCountrySelection"></country-card>
    <country-card [handleCountrySelection]="handleCountrySelection"></country-card>
    <country-card [handleCountrySelection]="handleCountrySelection"></country-card>
    <country-card [handleCountrySelection]="handleCountrySelection"></country-card>
    <country-card [handleCountrySelection]="handleCountrySelection"></country-card>
  </div>
</div>
