<div class="flex flex-col w-full">
  <div class="flex justify-center mt-4">
    <div class="px-2 rounded-full flex space-x-8 items-center bg-white border-2 border-black"
         [style.background]="
         'linear-gradient(90deg,' +
         'rgba(255, 255, 255, 0) ' + [0,23,50,75][selectedNumber-1] + '%,' +
         'rgba(0, 0, 0, 1) ' + [0,23,50,75][selectedNumber-1] + '%,' +
         'rgba(0, 0, 0, 1) ' + [25,50,76,100][selectedNumber-1] + '%,' +
         'rgba(255, 255, 255, 0) ' + [25,50,76,100][selectedNumber-1] + '%)'
       ">
      <!--  0,20,45,70    -->
      <!--  30,55,80,100  -->

      <div *ngFor="let number of [1,2,3,4]"
           [ngClass]="{
           'w-10 h-10 text-white border-2 border-black bg-black text-lg scale-150': selectedNumber === number,
           'w-8 h-8 text-black text-sm': selectedNumber !== number
         }"
           class="flex items-center justify-center rounded-full"
      >
        {{ number }}
      </div>

    </div>
  </div>
  <p class="text-center text-xl font-semibold text-gray-700 mb-5 mt-6">
    {{["Overview", "Select seats and class", "Choose your extras", "Choose your payment method"][selectedNumber - 1]}}
  </p>
</div>

