<div class="flex items-center justify-center min-h-screen w-full translate-y-[-40px]">
  <div class="flex flex-col items-center justify-center gap-4 text-center px-6 py-8  rounded-lg w-4xl">
    <h1 class="text-7xl font-bold">Booking confirmed</h1>
    <p class="text-2xl">
      Payment successful, thank you for booking with us! Your booking has been confirmed and a
      confirmation email has been sent to you.
    </p>
    <a href="/reservations"  class="text-blue-500 hover:underline cursor-pointer">Go to my reservations</a>
  </div>
</div>
