<div class="flex w-full justify-center mb-10 text-3xl font-bold">
  Airline Management
</div>

<div class="flex justify-between w-full space-x-10">
  <div class="w-1/2 rounded-lg border-1 border-zinc-500 flex flex-col bg-white">

    <a routerLink="/manage-aircraft" class="selector-left-row flex pl-8 pr-6 items-center
              h-12 border-b-1 border-zinc-400 font-bold rounded-t-lg select-none cursor-pointer
              not-hover:bg-white hover:bg-zinc-100 transition-colors duration-300">
      <div class="flex justify-between w-full">
        <span class="selector-left-text inline-block">Aircrafts</span>
        <span class="selector-left-arrow scale-x-110 transition-transform duration-300">-></span>
      </div>
    </a>

    <a routerLink="/manage-routes" class="selector-left-row flex pl-8 pr-6 items-center
              h-12 border-b-1 border-zinc-400 font-bold select-none cursor-pointer
              not-hover:bg-white hover:bg-zinc-100 transition-colors duration-300">
      <div class="flex justify-between w-full">
        <span class="selector-left-text inline-block">Routes</span>
        <span class="selector-left-arrow scale-x-110 transition-transform duration-300">-></span>
      </div>
    </a>

    <a routerLink="/manage-flights" class="selector-left-row flex pl-8 pr-6 items-center
              h-12 border-b-1 border-zinc-400 font-bold select-none cursor-pointer
              not-hover:bg-white hover:bg-zinc-100 transition-colors duration-300">
      <div class="flex justify-between w-full">
        <span class="selector-left-text inline-block">Flights</span>
        <span class="selector-left-arrow scale-x-110 transition-transform duration-300">-></span>
      </div>
    </a>

    <a routerLink="/manage-extras" class="selector-left-row flex pl-8 pr-6 items-center
              h-12 font-bold rounded-b-lg select-none cursor-pointer
              not-hover:bg-white hover:bg-zinc-100 transition-colors duration-300">
      <div class="flex justify-between w-full">
        <span class="selector-left-text inline-block">Extras</span>
        <span class="selector-left-arrow scale-x-110 transition-transform duration-300">-></span>
      </div>
    </a>

  </div>
  <div class="w-full bg-white"></div>
</div>
