<section hlmCard class="w-full transition-all duration-100 rounded-lg p-6">
  <div hlmCardContent class="flex flex-col gap-6 p-0">
    @for (segment of journey.segments; track journey) {
    <div class="flex flex-row justify-between items-center gap-4">
      <div class="w-1/4 flex justify-center items-center">Ryanair</div>
      <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-col">
          <span class="text-2xl font-bold text-gray-900">{{
            segment.departure_time
          }}</span>
          <span class="text-sm text-gray-500">{{ segment.departure_airport }}</span>
        </div>

        <div class="flex flex-col items-center text-center">
          <span class="text-sm text-gray-500">{{ segment.duration_minutes }}</span>
        </div>

        <div class="flex flex-col items-end">
          <span class="text-2xl font-bold text-gray-900">{{
            segment.arrival_time
          }}</span>
          <span class="text-sm text-gray-500">{{ segment.arrival_airport }}</span>
        </div>
      </div>
    </div>
    }

    <div class="flex justify-between items-center border-t mt-6 pt-4">
      <span class="text-xl font-bold text-gray-900">{{ journey.price_economy }}€</span>
      <button hlmBtn variant="default" (click)="onSelect()">Select →</button>
    </div>
  </div>
</section>
