<section
  hlmCard
  class="w-full transition-all duration-100 rounded-lg p-6"
>
  <div hlmCardContent class="flex flex-col gap-6 p-0">
    <div class="flex flex-row justify-between items-center gap-4">
      <div class="w-1/4 flex justify-center items-center">
        Ryanair
      </div>
      <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-col">
          <span class="text-2xl font-bold text-gray-900">{{
            firstDepartureTime
          }}</span>
          <span class="text-sm text-gray-500">{{ departureCity }}</span>
        </div>

        <div class="flex flex-col items-center text-center">
          <span class="text-sm text-gray-500">{{ firstDuration }}</span>
          <span class="text-sm font-normal">
            {{ firstStops === 0 ? "Non-stop" : firstStops + " stops" }}
          </span>
        </div>

        <div class="flex flex-col items-end">
          <span class="text-2xl font-bold text-gray-900">{{
            firstArrivalTime
          }}</span>
          <span class="text-sm text-gray-500">{{ arrivalCity }}</span>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-between items-center gap-4">
      <div class="w-1/4 flex justify-center items-center">
        Ryanair
      </div>
      <div class="flex flex-row justify-between items-center w-full">
        <div class="flex flex-col">
          <span class="text-2xl font-bold text-gray-900">{{
            secondDepartureTime
          }}</span>
          <span class="text-sm text-gray-500">{{ arrivalCity }}</span>
        </div>

        <div class="flex flex-col items-center text-center">
          <span class="text-sm text-gray-500">{{ secondDuration }}</span>
          <span class="text-sm font-normal">
            {{ secondStops === 0 ? "Non-stop" : secondStops + " stops" }}
          </span>
        </div>

        <div class="flex flex-col items-end">
          <span class="text-2xl font-bold text-gray-900">{{
            secondArrivalTime
          }}</span>
          <span class="text-sm text-gray-500">{{ departureCity }}</span>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-center border-t mt-6 pt-4">
      <span class="text-xl font-bold text-gray-900">{{ price }}€</span>
      <button hlmBtn variant="default">Select →</button>
    </div>
  </div>
</section>
