<div class="w-full h-full flex flex-col items-center pt-16 justify-start absolute top-0 left-0">
  <a href="/" class="flex flex-row items-center justify-center gap-8 mb-[8vh]">
    <img
      src="assets/logo.png"
      alt="FlightGorilla Logo"
      class="h-24 w-24"
      draggable="false"
    />
    <h1 class="scroll-m-20 text-5xl font-semibold tracking-tight text-black">
      FlightGorilla
    </h1>
  </a>
  <section hlmCard >
    <div hlmCardContent class="p-16">
      <flight-search-bar />
    </div>
  </section>
</div>
