<div class="flex flex-row justify-between w-full mx-72 my-4">
  <a href="/" class="flex flex-row items-center justify-center gap-2">
    <img
      src="assets/logo.png"
      alt="FlightGorilla Logo"
      class="h-10 w-10"
      draggable="false"
    />
    <h1 class="scroll-m-20 text-2xl font-semibold tracking-tight text-black">
      FlightGorilla
    </h1>
  </a>
  <div class="flex flex-row gap-2 items-center justify-center">
    @if (isLoggedIn && user) {
    <span>{{ user!.name }}</span>
    <app-popover
      #popover="appPopover"
      [popoverWidth]="'auto'"
      [popoverRelativePosition]="{
        top: 8,
        right: 0
      }"
    >
      <hlm-avatar variant="medium" popover-trigger class="cursor-pointer">
        <span
          class="bg-secondary text-secondary-foreground"
          hlmAvatarFallback
          >{{ user!.name.charAt(0).toUpperCase() }}</span
        >
      </hlm-avatar>
      <div popover-content class="pt-4 pb-1 px-1 flex flex-col gap-1">
        <div class="flex flex-col border-b pb-3 px-4">
          <p class="text-lg text-nowrap">
            {{ user!.name }} {{ user!.surname }}
          </p>
          <p class="text-base text-muted-foreground">
            {{ user!.email }}
          </p>
        </div>
        <ul>
          @switch (user!.type) { @case ('admin') {
          <li
            class="py-2 px-4 rounded-sm hover:bg-gray-100 cursor-pointer"
            [routerLink]="['../']"
            (click)="closePopover()"
          >
            Roba da admin
          </li>
          } @case ('airline-admin') {
          <li
            class="py-2 px-4 rounded-sm hover:bg-gray-100 cursor-pointer"
            [routerLink]="['/airline']"
            (click)="closePopover()"
          >
            Profile
          </li>
          } @case ('user') {

          <li
            class="py-2 px-4 rounded-sm hover:bg-gray-100 cursor-pointer"
            [routerLink]="['/']"
            (click)="closePopover()"
          >
            Home
          </li>
          <li
            class="py-2 px-4 rounded-sm hover:bg-gray-100 cursor-pointer"
            [routerLink]="['/user/profile']"
            (click)="closePopover()"
          >
            Profile
          </li>
          <li
            class="py-2 px-4 rounded-sm hover:bg-gray-100 cursor-pointer"
            [routerLink]="['/user/bookings']"
            (click)="closePopover()"
          >
            Your bookings
          </li>

          } }
          <li
            class="py-2 px-4 rounded-sm hover:bg-gray-100 cursor-pointer"
            (click)="logout()"
          >
            Logout
          </li>
        </ul>
      </div>
    </app-popover>
    } @else if (!isLoggedIn) {
    <a hlmBtn variant="outline" href="/auth/login" class="cursor-pointer"
      >Login</a
    >
    <a hlmBtn variant="default" href="/auth/register" class="cursor-pointer"
      >Sign Up</a
    >
    }
  </div>
</div>
