<div class="flex flex-col gap-8">
  <h1 class="scroll-m-20 text-center text-xl font-semibold text-gray-700">
    Search for
    {{ searchPhase === SearchPhase.DEPARTURE ? "departure" : "return" }} flights
  </h1>
  <div class="flex flex-row gap-8">
    <section hlmCard class="p-6 h-fit w-1/4">
      <aside hlmCardContent class="flex flex-col p-0 w-full gap-4">
        <div>
          <label for="sort" class="block font-medium">Sort by</label>
          <select
            id="sort"
            class="w-full border rounded px-2 py-1"
            (change)="onSortChange($event)"
          >
            <option value="price-asc">Price: Low to High</option>
            <option value="price-desc">Price: High to Low</option>
            <option value="duration-asc">Duration: Short to Long</option>
            <option value="duration-desc">Duration: Long to Short</option>
            <option value="stops-asc">Stops: Low to High</option>
            <option value="stops-desc">Stops: High to Low</option>
          </select>
        </div>
        <div>
          <label for="filter-price" class="block font-medium"
            >Filter by maximum price: {{ maxPrice }}€</label
          >
          <hlm-slider
            id="filter-price"
            [min]="0"
            [max]="1000"
            class="w-full"
            [(value)]="maxPrice"
            (pointerdown)="capture($event)"
            (pointerup)="onPriceChange()"
          ></hlm-slider>
        </div>
        <div>
          <label for="filter-hour" class="block font-medium"
            >Filter departure time</label
          >
          <div class="flex flex-row gap-4">
            <select
              id="filter-hour"
              class="w-full border rounded px-2 py-1"
              (change)="onMinDepartureTimeChange($event)"
            >
              <option value="00:00">00:00</option>
              <option value="01:00">01:00</option>
              <option value="02:00">02:00</option>
              <option value="03:00">03:00</option>
              <option value="04:00">04:00</option>
              <option value="05:00">05:00</option>
              <option value="06:00">06:00</option>
              <option value="07:00">07:00</option>
              <option value="08:00">08:00</option>
              <option value="09:00">09:00</option>
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
              <option value="21:00">21:00</option>
              <option value="22:00">22:00</option>
              <option value="23:00">23:00</option>
            </select>
            <select
              id="filter-hour"
              class="w-full border rounded px-2 py-1"
              (change)="onMaxDepartureTimeChange($event)"
            >
              <option value="00:00">00:00</option>
              <option value="01:00">01:00</option>
              <option value="02:00">02:00</option>
              <option value="03:00">03:00</option>
              <option value="04:00">04:00</option>
              <option value="05:00">05:00</option>
              <option value="06:00">06:00</option>
              <option value="07:00">07:00</option>
              <option value="08:00">08:00</option>
              <option value="09:00">09:00</option>
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
              <option value="17:00">17:00</option>
              <option value="18:00">18:00</option>
              <option value="19:00">19:00</option>
              <option value="20:00">20:00</option>
              <option value="21:00">21:00</option>
              <option value="22:00">22:00</option>
              <option value="23:00">23:00</option>
            </select>
          </div>
        </div>
      </aside>
    </section>
    <div class="flex-1 flex flex-col space-y-4">
      @if (journeys.length === 0) {
      <div class="flex flex-col items-center justify-center h-full">
        <p class="text-gray-500">No flights found</p>
      </div>
      } @else { @for (journey of journeys; track journey) {
      <flight-card
        [journey]="journey"
        [onSelect]="onFlightCardClick.bind(this)"
      />

      }

      <div class="flex justify-center">
        <button
          type="submit"
          hlmBtn
          variant="outline"
          class="bg-white px-10 py-2 w-fit"
          (click)="loadMoreFlights()"
          *ngIf="!lastPage"
        >
          <ng-icon
            *ngIf="morePagesLoading"
            hlm
            name="lucideLoaderCircle"
            size=""
            color="black"
            class="mr-2 animate-spin"
          ></ng-icon>
          Load more
        </button>
      </div>
      }
    </div>
  </div>
</div>
