<div class="space-y-4 text-gray-800" [formGroup]="profileForm">
  <!-- Email -->
  <div class="flex">
    <span class="w-32 font-medium text-gray-700 flex items-center">Email:</span>
    <app-switcher [isActive]="isEditMode">
      <span inactive>{{ user.email }}</span>
      <div active class="relative">
        <input
          hlmInput
          id="email"
          name="email"
          type="text"
          class="w-48 h-8"
          formControlName="email"
        />
        <div
          *ngIf="profileForm.get('email')?.invalid"
          class="absolute left-full top-0 w-40 ml-1 bg-white border border-red-300 text-red-700 text-xs rounded px-2 py-1 shadow"
        >
          Invalid email address.
        </div>
      </div>
    </app-switcher>
  </div>

  <!-- Password -->
  <div class="flex">
    <span class="w-32 font-medium text-gray-700 flex items-center"
      >Password:</span
    >
    <app-switcher [isActive]="isEditMode">
      <span inactive>••••••••</span>
      <div active class="flex space-x-4">
        <!-- old password – no validation -->
        <div class="relative">
          <input
            hlmInput
            id="oldPassword"
            name="oldPassword"
            type="password"
            class="w-48 h-8"
            placeholder="Enter old password"
            formControlName="oldPassword"
          />
        </div>
        <!-- new password – validated -->
        <div class="relative">
          <input
            hlmInput
            id="password"
            name="password"
            type="password"
            class="w-48 h-8"
            placeholder="Enter new password"
            formControlName="password"
          />
          <div
            *ngIf="profileForm.get('password')?.invalid"
            class="absolute left-full -top-5 w-40 ml-1 bg-white border border-red-300 text-red-700 text-xs rounded px-2 py-1 shadow"
          >
            Password must be at least 8 characters and include an uppercase
            letter and a number.
          </div>
        </div>
      </div>
    </app-switcher>
  </div>

  <!-- Name -->
  <div class="flex">
    <span class="w-32 font-medium text-gray-700 flex items-center">Name:</span>
    <app-switcher [isActive]="isEditMode">
      <span inactive>{{ user.name }}</span>
      <div active class="relative">
        <input
          hlmInput
          id="name"
          name="name"
          type="text"
          class="w-48 h-8"
          formControlName="name"
        />
        <div
          *ngIf="profileForm.get('name')?.invalid"
          class="absolute left-full top-0 w-40 ml-1 bg-white border border-red-300 text-red-700 text-xs rounded px-2 py-1 shadow"
        >
          Name must contain only letters and spaces.
        </div>
      </div>
    </app-switcher>
  </div>

  <!-- Surname -->
  <div class="flex">
    <span class="w-32 font-medium text-gray-700 flex items-center"
      >Surname:</span
    >
    <app-switcher [isActive]="isEditMode">
      <span inactive>{{ user.surname }}</span>
      <div active class="relative">
        <input
          hlmInput
          id="surname"
          name="surname"
          type="text"
          class="w-48 h-8"
          formControlName="surname"
        />
        <div
          *ngIf="profileForm.get('surname')?.invalid"
          class="absolute left-full top-0 w-40 ml-1 bg-white border border-red-300 text-red-700 text-xs rounded px-2 py-1 shadow"
        >
          Surname must contain only letters and spaces.
        </div>
      </div>
    </app-switcher>
  </div>

  <!-- Address -->
  <div class="flex">
    <span class="w-32 font-medium text-gray-700 flex items-center"
      >Address:</span
    >
    <app-switcher [isActive]="isEditMode">
      <span inactive>{{ user.address }}</span>
      <div active class="relative">
        <input
          hlmInput
          id="address"
          name="address"
          type="text"
          class="w-48 h-8"
          formControlName="address"
        />
        <div
          *ngIf="profileForm.get('address')?.invalid"
          class="absolute left-full top-0 w-40 ml-1 bg-white border border-red-300 text-red-700 text-xs rounded px-2 py-1 shadow"
        >
          Address cannot be empty.
        </div>
      </div>
    </app-switcher>
  </div>

  <!-- Zip Code -->
  <div class="flex">
    <span class="w-32 font-medium text-gray-700 flex items-center"
      >Zip Code:</span
    >
    <app-switcher [isActive]="isEditMode">
      <span inactive>{{ user.zip }}</span>
      <div active class="relative">
        <input
          hlmInput
          id="zipCode"
          name="zipCode"
          type="text"
          class="w-48 h-8"
          formControlName="zip"
        />
        <div
          *ngIf="profileForm.get('zip')?.invalid"
          class="absolute left-full top-0 w-40 ml-1 bg-white border border-red-300 text-red-700 text-xs rounded px-2 py-1 shadow"
        >
          Invalid zip code.
        </div>
      </div>
    </app-switcher>
  </div>
</div>

<!-- Action button -->
<div class="flex justify-end mt-6 space-x-3">
  <button
    hlmBtn
    variant="outline"
    (click)="toggleEditMode()"
  >
    {{ isEditMode ? "Back" : "Edit" }}
  </button>

  <button
    (click)="onFormSubmit()"
    hlmBtn
    *ngIf="isEditMode"
    [disabled]="!profileForm.valid || isLoading"
  >
    <ng-icon
      *ngIf="isLoading"
      hlm
      name="lucideLoaderCircle"
      size="sm"
      class="mr-2 animate-spin"
    ></ng-icon>
    Save
  </button>
</div>
